<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="../css/flexboxgrid.css"> 
<link rel="stylesheet" type="text/css" href="../css/style.css"> 

</head>
<body>

<!-- Header -->
<header id="main-header">
<div class="container">
<div class = "row end-sm end-md end-lg middle-xs middle-sm middle-md middle-lg">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-xs center-sm center-md">
	<h2><span class = "primary-text">Examatics</span></h2>
	</div>
	<div class="col-xs--12 col-sm-12 col-md-9 col-lg-9">
	</div>
</div>
</div>
</header>

<!-- Login Details-->

<section id = "login">
<div class="container">

<div class = "login row middle-xs middle-sm middle-md middle-lg center-xs center-sm center-md center-lg">
<div class="label-sp1"><h3>Login For Examatics Here</h3></div>
<form action = "">
<div class="label-sp start-xs start-sm start-md start-lg">
	<label id="label-text1">Enter name :</label>
	<input type="text" name="username" placeholder="Enter name">
</div>
<div class="label-sp start-xs start-sm start-md start-lg">
	<label id="label-text">Enter Password :</label>
	<input type="password" name="password" placeholder="Enter Password">
</div>
<input type="submit" name="Login">
</form>
</div>
</div>
</
</section>
</body>
</html>